<%- include('../layouts/header') %> 
<div class="p-4">
    <h2 class="text-center book-header">Purchased Books</h2><hr class="hr-underline">
</div>

<div class="add mt-4">       
    <div class="row">
    <% book.forEach(book => { %>
        <div class="col-md-3 col-12 ">
          <div>
            <center>
              <img class="img-fluid book-img" src="<%= book.coverImagePath %>">
            </center>
          </div>
          <div class="book-dash mt-1">
            <p class="h3 book-title"><%= book.name %></p>
            <p class="h3 book-title"><%= book.title %></p>
            <p class="small text-muted"><%= book.createdAt.toLocaleDateString() %></p>
            <p><span class="book-head">Genre: </span><%= book.genre %></p>
            <p><span class="book-head">Price: </span>Rs.<%= book.price %></p>
            <a class="btn btn-success m-2" href='/books/read/<%= book.id %> '>Read</a>
          </div>
        </div>
        <% }) %> 
    </div>
</div>

<%- include('../layouts/footer') %> 